extends layout

block content
  form
    .form-group
      label(for='login') Логин
      input#login.form-control(type='text', placeholder='Логин')
    .form-group
      label(for='password') Пароль
      input#password.form-control(type='password', placeholder='Пароль')

    button.btn.btn-default(type='submit') Авторизоваться
